:not(:defined)>* {
    display: none;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #0f0f0f;
}

#mv1 {
    width: 100%;
    height: 100%;
    background-color: #0f0f0f;
}

.Hotspot {
    background: #484848;
    border: none;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(85, 85, 85, 0.25);
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ffffffb9;
    display: block;
    font-family: Futura, Helvetica Neue, sans-serif;
    font-size: 11px;
    font-weight: 700;
    /* max-width: 128px; */
    overflow-wrap: break-word;
    padding: 0;
    position: absolute;
    width: 30px;
    height: 30px;
    transform: translate3d(-50%, -50%, 0);
    transition: all 0.2s;
  }

  .Hotspot.active {
    z-index: 999;
    background: #00000045;
  }



  .Hotspot:hover {
    color: #56adff;
    box-shadow: 0 0 10px #56adff;
    border-color: #56adff;

  }

  /* .listPopup {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 25%;
    width: 215px;
    height: 277px;
    overflow: auto;
    color: #ffffff;
  } */

  .labelTitle {
    cursor: pointer;
  }

.HotspotAnnotation {
    /* background: #fff; */
    border-radius: 4px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); */
    /* color: rgba(0, 0, 0, 0.8); */
    display: block;
    font-family: Futura, Helvetica Neue, sans-serif;
    font-size: 14px;
    font-weight: 500;
    left: calc(100% + 0.5em);
    max-width: 200px;
    overflow-wrap: break-word;
    padding: 0.5em 1em;
    position: absolute;
    top: 0%;
    width: max-content;

    background: #484848;
    box-shadow: 0 2px 4px rgba(85, 85, 85, 0.25);
    color: rgba(255, 255, 255, 0.8);
    /* border: 1px solid #ffffffb9; */
    display: none;
    text-align: left;
}
.active{
    z-index: 999;

}
.active .HotspotAnnotation{
    display: block;
    z-index: 999;
}
.description-box .title,
.HotspotAnnotation .title{
    font-weight: 700; 
    font-size: 14px;
    margin:5px
}


.description-box{
    border: 2px solid #4285f4;
    background-color: #c9deff;
    border-radius: 10px;
    padding: 15px;
    position: absolute;
    right: 30px;
    bottom: 20px;
    width: 15%;
    font-family: Roboto Regular, Helvetica Neue, sans-serif;
    z-index: 99;
    font-size: 14px;

    /* border: 2px solid #4285f4;
    background-color: #c9deff;
    border-radius: 10px;
    padding: 26px;
    position: absolute;
    right: 30px;
    bottom: 16px;
    width: 15%;
    font-family: Roboto Regular, Helvetica Neue, sans-serif;
    z-index: 99;
    font-size: 14px; */
}
.description_title{
    font-weight: 700; 
    font-size: 14px;
}
.description-box .actions{
    display: flex;
    justify-content: end;
    margin: -10px 0;
}
.description-box .action-btn{
    border: 0;
    background: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    width: 30px;
}
.description-box p{
    margin: 0 0 15px;
    padding: 0;
}
.description-box p:last-child{
    margin: 0;
}
.description-box .description-container{
    transition: all 0.5s;
}
.description-box .description-container.hide{
    height: 25px;
    text-align: center;
    margin: auto 0;
    padding: 0;
    overflow: hidden;
    
}
.description-box .description-container.hide .description_title{
    font-size: large;
}
.progress-bar {
    display: block;
    width: 33%;
    height: 10%;
    max-height: 2%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 25px;
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
    visibility: hidden;
    transition: visibility 0.3s;
}

.update-bar {
    background-color: rgba(255, 255, 255, 0.9);
    width: 0%;
    height: 100%;
    border-radius: 25px;
    float: left;
    transition: width 0.3s;
}

#ar-button {
    background-image: url(ar_icon.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 12px 50%;
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    bottom: 16px;
    padding: 0px 16px 0px 40px;
    font-family: Roboto Regular, Helvetica Neue, sans-serif;
    font-size: 14px;
    color: #4285f4;
    height: 36px;
    line-height: 36px;
    border-radius: 18px;
    border: 1px solid #DADCE0;
}

#ar-button:active {
    background-color: #E8EAED;
}

#ar-button:focus {
    outline: none;
}

#ar-button:focus-visible {
    outline: 1px solid #4285f4;
}

@keyframes circle {
    from {
        transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
    }

    to {
        transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
    }
}

@keyframes elongate {
    from {
        transform: translateX(100px);
    }

    to {
        transform: translateX(-100px);
    }
}

model-viewer>#ar-prompt {
    position: absolute;
    left: 50%;
    bottom: 60px;
    animation: elongate 2s infinite ease-in-out alternate;
    display: none;
}

model-viewer[ar-status="session-started"]>#ar-prompt {
    display: block;
}

model-viewer>#ar-prompt>img {
    animation: circle 4s linear infinite;
}


/* 
.pagination{
    background: #484848c2;
    border-radius: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    z-index: 999;
    color: #fff;
    font-family: Roboto Regular, Helvetica Neue, sans-serif;
    padding: 5px;
    position: relative;
    box-sizing: border-box;
}
.pagination .arrow{
    font-size: 16px;
    width: 24px;
    height: 24px;
    text-align: center;
    color: #fff;
    line-height: 20px;
    background: none;
    border: none;
    cursor: pointer;
}
.pagination label{
    color: #fff;
    font-size: 14px;
    padding: 0 30px;
    text-align: center;
    width: 100%;
    display: block;
} */

/* New pagination Start */
.pagination{
    background: #484848c2;
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    z-index: 999;
    color: #fff;
    font-family: Roboto Regular, Helvetica Neue, sans-serif;
    padding: 5px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    align-items: center;
  }
  /* .pagination .arrow{
    font-size: 16px;
    width: 24px;
    height: 24px;
    text-align: center;
    color: #fff;
    line-height: 20px;
    background: none;
    border: none;
    cursor: pointer;
  } */
  .pagination label{
    color: #fff;
    font-size: 14px;
    padding: 0 30px;
    text-align: center;
    width: 100%;
    display: block;
  }
  
  
  .pagination-btn{
    background: #777777;
    border-radius: 4px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    color: #fff;
    cursor: pointer;
    transition: all 0.4s;
  }
  .pagination-btn:hover{
    background: #9c9c9c;
  }
  
  .pagination-btn .material-symbols-outlined{ font-size: 18px;}
  .big-pagination .pagination-title{
    text-align: left;
    padding: 0;
  }


  /* new pagination End */
/*   
.arrow-right {
    position: absolute;
    right: 0;
}

.arrow-left{
    position: absolute;
    left: 0;

} */
.navigation{
    position: absolute;
    width: 400px;
    font-family: Roboto Regular, Helvetica Neue, sans-serif;
    font-size: 14px;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    z-index: 99;
}
 .listPopup{
  
    /* overflow: auto; */
    color: rgb(137, 137, 137);
    background-color: #0000008c;
    /* opacity: 0.7; */
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.link li{
    display: list-item;

}
.js-scrollable{
    cursor: pointer;
margin-top: 35px;

padding: 0;
margin: 10px 0 0;
font-size: 12px;
max-height: 104px;
overflow: auto;
list-style: none;
}
 
.isAnnotations {
cursor: pointer;
}
.isAutoplay{
    cursor: pointer;
 }

.setBgColor{
    
    margin-top: 10px;
}
.colorDiv{
    position: relative;
    display: inline-block;
    width: 24px;
    height: 20px;
    margin: 3px;
    border: 1px solid rgb(138, 138, 138);
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.4s;
}
.colorDiv:hover{
    border-color: #fff;
    
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(-4px);
}
.colorDiv #black{
    background-color:black ;
}
#white{
    background-color:white ;
}
#gray{
    background-color:lightgray ;
}
#yellow{
    background-color:yellow ;
}
#coral{
    background-color:coral ;
}
#darkorange{
    background-color:darkorange ;
}
#fuchsia{
    background-color:fuchsia ;
}
#greenyellow{
    background-color:greenyellow ;
}


.list-item{
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
    min-height: 28px;
    font-size: 14px;
    border-radius: 5px;
    transition: all 0.3s;
    box-sizing: border-box;
    margin-bottom: 6px;

}
.link:hover{
    color: #fff;
    background: #2f2f2fbf;
    transform: translateY(-2px);
}
.list-item .material-symbols-outlined{font-size: 18px;}

.play_pauseBtn{
    display: block;
    position: absolute;
    right: 8%;
    top: 5%;
    cursor: pointer;
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url("./font/materialsymbolsoutlined.woff2") format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("./font/materialIcon.woff2") format('woff2');
  }
  
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

  /* width */
::-webkit-scrollbar {
    width: 7px;
    opacity: 0.7;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: darkgray; 
  }
  