:not(:defined)>* {
    display: none;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #0f0f0f;
}

model-viewer {
    width: 100%;
    height: 90%;
    background-color: #0f0f0f;
}

.Hotspot {
    background: #484848;
    border: none;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(85, 85, 85, 0.25);
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ffffffb9;
    display: block;
    font-family: Futura, Helvetica Neue, sans-serif;
    font-size: 11px;
    font-weight: 700;
    /* max-width: 128px; */
    overflow-wrap: break-word;
    padding: 0;
    position: absolute;
    width: 30px;
    height: 30px;
    transform: translate3d(-50%, -50%, 0);
    transition: all 0.2s;
  }

  .Hotspot.active {
    z-index: 999;
    background: #00000045;
  }



  .Hotspot:hover {
    color: #56adff;
    box-shadow: 0 0 10px #56adff;
    border-color: #56adff;

  }

  .listPopup {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 25%;
    width: 215px;
    height: 277px;
    overflow: auto;
    color: #ffffff;
  }

  .labelTitle {
    cursor: pointer;
  }

.HotspotAnnotation {
    /* background: #fff; */
    border-radius: 4px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); */
    /* color: rgba(0, 0, 0, 0.8); */
    display: block;
    font-family: Futura, Helvetica Neue, sans-serif;
    font-size: 14px;
    font-weight: 500;
    left: calc(100% + 0.5em);
    max-width: 200px;
    overflow-wrap: break-word;
    padding: 0.5em 1em;
    position: absolute;
    top: 0%;
    width: max-content;

    background: #484848;
    box-shadow: 0 2px 4px rgba(85, 85, 85, 0.25);
    color: rgba(255, 255, 255, 0.8);
    /* border: 1px solid #ffffffb9; */
    display: none;
    text-align: left;
}
.active{
    z-index: 999;

}
.active .HotspotAnnotation{
    display: block;
    z-index: 999;
}
.description-box .title,
.HotspotAnnotation .title{font-weight: 700; 
    font-size: 14px;
    margin:5px
}


.description-box{
    border: 2px solid #4285f4;
    background-color: #c9deff;
    border-radius: 10px;
    padding: 15px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 200px;
    font-family: Roboto Regular, Helvetica Neue, sans-serif;
    z-index: 99;
    
}

.progress-bar {
    display: block;
    width: 33%;
    height: 10%;
    max-height: 2%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 25px;
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
    visibility: hidden;
    transition: visibility 0.3s;
}

.update-bar {
    background-color: rgba(255, 255, 255, 0.9);
    width: 0%;
    height: 100%;
    border-radius: 25px;
    float: left;
    transition: width 0.3s;
}

#ar-button {
    background-image: url(ar_icon.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 12px 50%;
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    bottom: 16px;
    padding: 0px 16px 0px 40px;
    font-family: Roboto Regular, Helvetica Neue, sans-serif;
    font-size: 14px;
    color: #4285f4;
    height: 36px;
    line-height: 36px;
    border-radius: 18px;
    border: 1px solid #DADCE0;
}

#ar-button:active {
    background-color: #E8EAED;
}

#ar-button:focus {
    outline: none;
}

#ar-button:focus-visible {
    outline: 1px solid #4285f4;
}

@keyframes circle {
    from {
        transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
    }

    to {
        transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
    }
}

@keyframes elongate {
    from {
        transform: translateX(100px);
    }

    to {
        transform: translateX(-100px);
    }
}

model-viewer>#ar-prompt {
    position: absolute;
    left: 50%;
    bottom: 60px;
    animation: elongate 2s infinite ease-in-out alternate;
    display: none;
}

model-viewer[ar-status="session-started"]>#ar-prompt {
    display: block;
}

model-viewer>#ar-prompt>img {
    animation: circle 4s linear infinite;
}



.pagination{
    background: #484848c2;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    z-index: 999;
    color: #fff;
    font-family: Roboto Regular, Helvetica Neue, sans-serif;
    padding: 5px;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);

}
.pagination .arrow{
    font-size: 16px;
    width: 24px;
    height: 24px;
    text-align: center;
    color: #fff;
    line-height: 20px;
    background: none;
    border: none;
    cursor: pointer;
}
.pagination label{
    color: #fff;
    font-size: 14px;
    padding: 0 10px;
}